<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add", methods="post">
         <input type="text" names="id" placeholder="enter your id">
        <input type="text" names="email" placeholder="enter your email">
        <input type="text" names="password" placeholder="enter your password">
        <input type="submit" values="submit"> 
        </form>   
</body>
</html>