<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for user in userlsit %}
         <h1>{{user[0]}} {{user[1]}}</h1>
    {5 endfor %}
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
     {% for user in userlist %}   
     <tr>
        <td>{{user[0]}}</td>
        <td>{{user[1]}}</td>
     </tr>
     {% endfor %}
    </table>
    {% for user in userlist %}
        <h1>{{user[0]}}</h1>
    {% endfor %}
</body>
</html>